<% include ../partials/header.ejs %>
<div class="container">
  <img
    src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-256.png"
    alt="User"
  />
  <h2 class="container">Profile</h2>
<h4 class="container">Name : <%= currentUser.username %></h4>
<h4 class="container">Email : <%= currentUser.password %></h4>
</div>

<% include ../partials/footer.ejs %>
